$black: #2d081a;

@mixin grid-center($min-height: 100svh) {
  display: grid;
  place-items: center;
  min-height: $min-height;
}

@mixin button {
  background-color: $black;
  color: #fff;
  font-size: 15px;
  padding: 10px 45px;
  border: none;
  cursor: pointer;
}
@mixin button_interaction {
  @media (hover: hover) {
    &:hover {
      background-color: lighten($color: $black, $amount: 30%);
    }
  }
  &:active {
    background-color: lighten($color: $black, $amount: 30%);
  }
  &[disabled] {
    background-color: gray;
    cursor: wait;
  }
}

:root {
  scroll-behavior: smooth;
}
