@import "global";
@import "scrollbar";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  @include grid-center;
  font-size: 1rem;
  background: rgb(255, 171, 208);
  background: linear-gradient(
    53deg,
    rgba(255, 171, 208, 1) 0%,
    rgba(254, 239, 150, 1) 100%
  );
  .root {
    width: 100%;
    @include grid-center(90svh);
    align-items: start;
    grid-template-rows: repeat(2, minmax(0px, auto)) 1fr;
    padding: 1rem;
    .search-form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      &__input {
        width: 100%;
        border-radius: 10px 0px 0px 10px;
        border: none;
        padding-left: 5px;
      }
      &__button {
        @include button();
        transition: 0.3s;
        border-radius: 0px 10px 10px 0px;
        @include button_interaction();
      }
    }
    .msg-block {
      padding: 1rem;
    }
    .items {
      display: grid;
      gap: 1rem;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      .item {
        display: flex;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        //border: 1px solid burlywood;
        background-color: white;
        box-shadow: 0 0 10px rgba(119, 119, 119, 0.322);
        border-radius: 10px;
        &__title {
          font-size: 1.25rem;
          font-weight: 700;
        }
        &__author {
          font-size: 1rem;
          font-weight: 500;
        }
        &__img {
          max-width: 200px;
        }
      }
    }
    .load-more {
      padding-top: 1rem;
      &__button {
        @include button();
        transition: 0.3s;
        border-radius: 10px;
        @include button_interaction();
      }
    }
  }

  .toTheTop-button {
    @include grid-center(fit-content);
    border: none;
    background-color: $black;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: 0.3s;
    svg {
      height: 40px;
    }
    // &:hover {
    //   opacity: 1;
    // }
    @include button_interaction;
  }

  @media (min-width: 450px) {
    padding: 0 10vw;
  }
}
